

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.app-container{
  width: 700px;
  margin: 0 auto;
}

header{
  margin: 0 auto;
  background: rebeccapurple;
  padding: 1rem;
  color: white;
}

.header-nav{
  display: flex;
  align-items: center;
}

.header-nav p{
  margin-left: auto;
}

.meme-face-icon{
  width: 50px;
  margin-right: 1rem;
}

.user-input-container{
  padding: 2.7rem;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.input-group input{
  padding: .8rem;
  width: 290px;
  border-radius: 5px;
  border: 1px solid rgb(129, 129, 129);
}

.input-group input:focus{
  outline: none;
}

button{
  margin-top: 2rem;
  width: 100%;
  background: rebeccapurple;
  padding: .8rem 0;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}

button:hover{
  opacity: .9;
}